@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins:wght@400;500;600&family=Roboto&display=swap");
body {
  font-size: "Poppins", sans-serif;
}
:root {
  --color1: #b3005e;
  --color2: #fb2576;
  --color3: #009fbd;
  --color4: #210062;
  --color5: #77037b;
}
.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: linear-gradient(45deg, transparent, --color4);
}
