.services_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem
}

.service{
    background-color: $color4;
    color: $white;
    border-radius: 0 0 2rem 3rem;
    border: 1px solid $white;
    height: fit-content;
    transition: 0.5s ease;
    &:hover{
        background: $color6;
        border-color: aqua;
        cursor: default;
    }
}
.service__head{
    background-color: $color3;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}
.service__head > h3{
    color: $color4;
    font-size: 1.5rem;
    text-align: center;
   
}
.service__list{
padding: 2rem;
> li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem
} 
> p {
    font-size: 0.9rem;
}
}

.service__list-icon{
    color: $white;
    margin-top: 4px;
}

@media screen and (max-width: 1024px){
    .services_container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service__head{
        padding: 0.5rem;
        >h3{
            font-size: 1.4rem;
        }
    }

    .service{
        height: auto;
        font-size: 12px;
    }
    .service__list{
        padding: 1rem;
        > li {
            gap: 0.5rem;
            margin-bottom: 0.3rem
        } 
        > p {
            font-size: 1rem;
        }
        }
}

@media screen and (max-width: 600px){
    .services_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}